@charset "utf-8";
/* CSS Document */

body{font-size:18px; background:#0cc;}
input{margin:0;padding:0;border:none;}
.small{width:10px;height:10px;background:#ccc;}
.big{width:20px;height:20px;background:#00c;}

